@use 'sass:map';
@use '../utils/' as *;

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size-body;
  color: map.get($color-primary, 'dark');
  line-height: $line-height;
}

h1,
h2,
h3 {
  color: map.get($color-primary, 'darker');
  line-height: 1;
  margin: 0.5em 0 0.2em;
}

h1 {
  font-size: $font-size-body * 2.5;
}
h2 {
  font-size: $font-size-body * 1.8;
}

h3 {
  font-size: $font-size-body * 1.2;
}
